svg(width="89px" height="85px" viewBox="0 0 89 85" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
  g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.900000036" stroke-linecap="round" stroke-linejoin="round")
    g(transform="translate(-916.000000, -453.000000)" stroke="#20ACAC" stroke-width="5")
      g(transform="translate(919.000000, 456.000000)")
        path(d="M78.3888889,35.8487593 L78.3888889,39.5220166 C78.3789642,57.0141702 66.9531344,72.4162847 50.30753,77.3759246 C33.6619255,82.3355645 15.7618054,75.6712613 6.31425243,60.9970099 C-3.13330054,46.3227585 -1.87772251,27.134209 9.40009722,13.8371485 C20.677917,0.540087973 39.2914147,-3.69790315 55.1466489,3.42140164")
        polyline(points="83 4.64705882 39.5238095 46.4705882 27.6666667 35.0641711")