// HEADER :: START

header.header.header--dashboard
  .header__wrapper
    .header__wrapper-left
      a(href="homepage.html").header__logo
        +icon('ico-logo')

    .header__wrapper-right
      a.header__signout(href="#")
        +icon('ico-signout')

// HEADER :: END
